@{
    ViewData["Title"] = "Comparison Matrix | PrivacyConfirmed";
}

<div class="container py-5">
    <h1 class="text-center mb-5">Request A Demo</h1>
    <div class="table-responsive mb-5">
        <strong class="d-block mb-3">ISO/SOC Readiness</strong>
        <p>Let us show you how <b>PrivacyConfirmed IAM</b> can help your organization streamline authentication, improve security, and meet compliance requirements. Our team is ready to provide a personalized demo tailored to your needs.</p>
        <ul class="list-group-horizontal">
            <li>ISO 27001: Information Security Management System (ISMS) to safeguard your data.</li>
            <li>SOC 2: Ensures that PrivacyConfirmed follows rigorous standards for security, availability, confidentiality, processing integrity, and privacy.</li>
        </ul>
        <a href="/demo" class="btn btn-light btn-lg mx-2">Request Demo</a>
    </div>
</div>